{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <strong><h1>Mot de passe</h1></strong>
        <h3>Veuillez remplir ces champs avec votre login et votre mot de passe pour accéder à la partie administration de votre site</h3>
        <h6>Si votre login et/ou mot de passe est erroné, vous reviendrez sur cette page ;)</h6>

        <form action="{{ path('login') }}" method="post">
            <label for="username">Login : </label>
            <input type="text" name="_username" required><br><br>
            <label for="password">Mot de passe : </label>
            <input type="password" name="_password" required /><br><br>
            <input type="submit" name="connexion" value="Connexion">
        </form>
    </div>
{% endblock %}